<!DOCTYPE html>
<!-- Idioma da pagina -->
<html lang ="pt-br">


  <head>
                             
    <!-- Mapa de caracteres -->
    <meta charset="UTF-8"/>

    <!-- Zoom da pagina -->
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">

    

    <title>INDEX</title>

    <!-- local do arquivo .css flask -->
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')}}">
    <!-- --------------------------------------------------------------------------------------------------------------------------------------
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="C:\Users\Aldrik\Desktop\Carcara\Aplicação Web\app\static\style.css">
    -->
      
  </head>


  <body>
    <!-- Menu Horizontal e Direcionamento de paginas -->
    <div class="menuH">
      <nav>
        
        <div class="logo"><img src="{{  url_for('static', filename='logo.JPG')}}" ></div>

        <button class="button button1">&#9776;</button>

        <ul>
            <li> <a href="/index">Inicio</a> </li>
            <li> <a href="/estados">Estados</a> </li>
            <li> <a href="/municipios">Municipios</a> </li>
            <li> <a href="/index">Observaçoes</a> </li>
            <li> <a href="https://github.com/SoSoJigsaw/Carcara">GitHub</a>  </li>
        </ul>
      </nav>
      </div>
    
      <header id="showcase">
        <div id="showcase-container">
          <img class="imgIndex" src="{{  url_for('static', filename='logoGrande.png')}}">
            <p>Expondo o impacto da COVID-19 no Estado de São Paulo de forma clara e contextualizada.</p>
            <a href="/estados" class="btn">Dados gerais do Estado de São Paulo</a>
            <a href="/municipios" class="btn">Dados por Município</a>
        </div>
    </header>

    
    
  <!-- FOOTER -->
  <div class="footer">
    <p class="footerText">© Carcará Analysis,  Inc. 2021. </p>
  </div>

  </body> 
</html>
