<!DOCTYPE html>
<!-- Idioma da pagina -->
<html lang ="pt-br">


  <head>
                             
    <!-- Mapa de caracteres -->
    <meta charset="UTF-8"/>

    <!-- Zoom da pagina -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    <title>Pandemia Estruturada</title>

    <!-- local do arquivo .css flask -->
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')}}">

      
  </head>


  <body>
    <!-- Menu Horizontal e Direcionamento de paginas -->
    <div class="menuH">
      <nav>
        
        <div class="logo"><img src="{{  url_for('static', filename='logo.jpg')}}" ></div>
        <div class="logo2"><img id="elem" width="55" height="auto" src="{{ url_for('static', filename='logo2.jpg')}}">
        <img id="marca" width="175" height="auto" src="{{ url_for('static', filename='logo2-open.jpg')}}"></div>


        <button class="button button1">&#9776;</button>

        <ul>
            <li> <a href="/index" >Início</a> </li>
            <li> <a href="/estado/covidsp">Estado</a> </li>
            <li> <a href="/municipios/covidsp"  >Municípios</a> </li>
            <li> <a id='git-link' href="https://github.com/SoSoJigsaw/Carcara" ><img id="git" width="48" height="auto" src="{{ url_for('static', filename='git-hub.png')}}"/></a>  </li>
        </ul>
      </nav>
      </div>


      <header id="showcase">

        <div class="perspective-text">
        <div class="perspective-line">
            <p></p>
            <p></p>
          </div>
          <div class="perspective-line">
            <p style="color:white">PANDEMIA</p>
            <p></p>
          </div>
          <div class="perspective-line">
            <p id="estruturada">ESTRUTURADA</p>
            <p></p>
          </div>
        </div>

        <div id="showcase-container">
            <p>Expondo o impacto da COVID-19 no Estado de São Paulo de forma clara e contextualizada.</p>
            <a href="/estado/covidsp" tabindex="0" class="btn">Dados do Estado de SP</a>
            <a href="/municipios/covidsp" tabindex="0" class="btn">Dados por Município</a>
        </div>

        <!-- Paragrafo Invisivel -->
            <p class="hide"> a</p>
            <p class="hide"> a</p>

    </header>

  </body>
</html>

