<!DOCTYPE html>
<!-- Idioma da pagina -->
<html lang ="pt-br">


  <head>
                             
    <!-- Mapa de caracteres -->
    <meta charset="UTF-8"/>

    <!-- Zoom da pagina -->
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">


    <title>Dados do Município</title>



    <!-- local do arquivo .css flask -->
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')}}">
    <!-- --------------------------------------------------------------------------------------------------------------------------------------
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="C:\Users\Aldrik\Desktop\helloFlask\app\static\style.css">
    -->


  </head>


  <body>
    <!-- Menu Horizontal e Direcionamento de paginas -->
    <div class="menuH">
      <nav>
        
        <div class="logo"><img src="{{  url_for('static', filename='logo.JPG')}}" ></div>

        <button class="button button1">&#9776;</button>

        <ul>
            <li> <a href="/index" style="text-decoration:none; color:#000000;">Inicio</a> </li>
            <li> <a href="/estado/covidsp" style="text-decoration:none; color:#000000;">Estado</a> </li>
            <li> <a href="/municipios/covidsp" style="text-decoration:none; color:#000000;">Municípios</a> </li>
            <li> <a href="/index" style="text-decoration:none; color:#000000;">Observações</a> </li>
            <li> <a href="https://github.com/SoSoJigsaw/Carcara" style="text-decoration:none; color:#000000;">GitHub</a>  </li>
        </ul>
      </nav>
      </div>

      <!-- Bloco  -->
      <div class="bloco">
        <p class="p1">Dados dos Municípios</p>
         
          
          <div class="pesquisa">
            {% block content %}
             <h2>Pesquisa Personalizada</h2>

              {% if "/municipios" == request.path|string %}
              <form action="/municipios/covidsp/search" method="post">
                   <p>
                       {{form.municipio_field.label}} <br>
                       {{form.municipio_field(type="text")}}
                   </p>
                   <p>
                       {{form.startdate_field.label}} <br>
                       {{form.startdate_field(min=min, max=max)}}
                   </p>
                   <p>
                       {{form.enddate_field.label}} <br>
                       {{form.enddate_field(min=min, max=max)}}
                   </p>
                   <p>
                       {{form.submit_field()}}
                   </p>
               </form>
                     {% endif %}

              {% if "/municipios/covidsp" in request.path|string %}
              <form action="/municipios/covidsp/search" method="post">
                   <p>
                       {{form.municipio_field.label}} <br>
                       {{form.municipio_field(type="text")}}
                   </p>
                   <p>
                       {{form.startdate_field.label}} <br>
                       {{form.startdate_field(min=min, max=max)}}
                   </p>
                   <p>
                       {{form.enddate_field.label}} <br>
                       {{form.enddate_field(min=min, max=max)}}
                   </p>
                   <p>
                       {{form.submit_field()}}
                   </p>
               </form>
                     {% endif %}

                   {% if "/municipios/srag" in request.path|string %}
               <form action="/municipios/srag/search" method="post">
                   <p>
                       {{form.municipio_field.label}} <br>
                       {{form.municipio_field()}}
                   </p>
                   <p>
                       {{form.startdate_field.label}} <br>
                       {{form.startdate_field(min=min, max=max)}}
                   </p>
                   <p>
                       {{form.enddate_field.label}} <br>
                       {{form.enddate_field(min=min, max=max)}}
                   </p>
                   <p>
                       {{form.submit_field()}}
                   </p>
               </form>
                     {% endif %}

                    {% if "/municipios/vacina" in request.path|string %}
               <form action="/municipios/vacina/search" method="post">
                    <p>
                       {{form.municipio_field.label}} <br>
                       {{form.municipio_field()}}
                    </p>
                    <p>
                       {{form.startdate_field.label}} <br>
                       {{form.startdate_field(min=min, max=max)}}
                    </p>
                    <p>
                       {{form.enddate_field.label}} <br>
                       {{form.enddate_field(min=min, max=max)}}
                    </p>
                    <p>
                       {{form.submit_field()}}
                    </p>
               </form>
                       {% endif %}

             {% if "/municipios/leitos" in request.path|string %}
               <form action="/municipios/leitos/search" method="post">
                     <p>
                       {{form.municipio_field.label}} <br>
                       {{form.municipio_field()}}
                    </p>
                     <p>
                       {{form.startdate_field.label}} <br>
                       {{form.startdate_field(min=min, max=max)}}
                     </p>
                     <p>
                       {{form.enddate_field.label}} <br>
                       {{form.enddate_field(min=min, max=max)}}
                     </p>
                     <p>
                       {{form.submit_field()}}
                     </p>
               </form>
                          {% endif %}

               {% if "/municipios/isolamento-social" in request.path|string %}
               <form action="/municipios/isolamento-social/search" method="post">
                      <p>
                       {{form.municipio_field.label}} <br>
                       {{form.municipio_field()}}
                      </p>
                      <p>
                       {{form.startdate_field.label}} <br>
                       {{form.startdate_field(min=min, max=max)}}
                      </p>
                      <p>
                       {{form.enddate_field.label}} <br>
                       {{form.enddate_field(min=min, max=max)}}
                      </p>
                      <p>
                       {{form.submit_field()}}
                      </p>
               </form>
                            {% endif %}
             {% endblock %}

          </div>
      </div>



{% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <h1>  {{ message }}  </h1>
      {% endfor %}
   {% endif %}
{% endwith %}


      <!-- Paragrafo Invisivel -->
       <p class="hide"> a</p>

       <!-- tabs -->
        <div class="tabela">
          <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">
                {% if "/search" not in request.path|string %}
                <a class="button" href="{{ url_for('covidmuni_main') }}" style="text-decoration:none; color:#000000;">Casos e Óbitos</a>
                {% endif %}
                {% if "/search" in request.path|string %}
                <a class="button" href="{{ url_for('covidmuni_search') }}" style="text-decoration:none; color:#000000;">Casos e Óbitos</a>
                {% endif %}
          </button>

          <button class="tablinks" onclick="openCity(event, 'Paris')">
              {% if "/search" not in request.path|string %}
              <a class="button" href="{{ url_for('sragmuni_main') }}" style="text-decoration:none; color:#000000;">Casos Graves (SRAG)</a>
              {% endif %}
              {% if "/search" in request.path|string %}
              <a class="button" href="{{ url_for('sragmuni_search') }}" style="text-decoration:none; color:#000000;">Casos Graves (SRAG)</a>
              {% endif %}
          </button>


          <button class="tablinks" onclick="openCity(event, 'Tokyo')">
              {% if "/search" not in request.path|string %}
              <a class="button" href="{{ url_for('vacina_main') }}" style="text-decoration:none; color:#000000;">Vacinação</a>
              {% endif %}
              {% if "/search" in request.path|string %}
              <a class="button" href="{{ url_for('vacina_search') }}" style="text-decoration:none; color:#000000;">Vacinação</a>
              {% endif %}
          </button>


          <button class="tablinks" onclick="openCity(event, 'Berlin')">
              {% if "/search" not in request.path|string %}
              <a class="button" href="{{ url_for('isolamuni_main') }}" style="text-decoration:none; color:#000000;">Isolamento Social</a>
              {% endif %}
              {% if "/search" in request.path|string %}
              <a class="button" href="{{ url_for('isolamuni_search') }}" style="text-decoration:none; color:#000000;">Isolamento Social</a>
              {% endif %}
          </button>



          <div id="London" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
            <h3>Teste1</h3>
            <p>atualmente 15.000.000 Casos confirmados</p>
            <p>atualmente 2.000.000 Mortes confirmados</p>
          </div>

          <div id="Paris" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
            <h3>Teste2</h3>
            <p>atualmente 9.000.000</p>
          </div>

          <div id="Tokyo" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
            <h3>Teste3</h3>
            <p>atualmente 6.000.000 vacinados</p>
          </div>

          <div id="Berlin" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
            <h3>Teste3</h3>
            <p>atualmente 6.000.000 vacinados</p>
          </div>

                 {% if grafico %}
                 {{ grafico|safe }}
                   {% endif %}

                {% for table in tables_covidsp %}
                {{titles_covidsp[loop.index]}}
                    {{ table|safe }}
                      {% endfor %}

               {% for table in tables_srag %}
                {{titles_srag[loop.index]}}
                    {{ table|safe }}
                      {% endfor %}

               {% for table in tables_vacina %}
                 {{titles_vacina[loop.index]}}
                       {{ table|safe }}
                         {% endfor %}

              {% for table in tables_isola %}
               {{titles_isola[loop.index]}}
                    {{ table|safe }}
                      {% endfor %}

              {% for table in tables_leitos %}
                {{titles_leitos[loop.index]}}
                      {{ table|safe }}
                       {% endfor %}



          <script>
            function openCity(evt, cityName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
            </script>
        </div>
  </body>
</html>
