<!DOCTYPE html>
<!-- Idioma da pagina -->
<html lang ="pt-br">


  <head>
                             
    <!-- Mapa de caracteres -->
    <meta charset="UTF-8"/>

    <!-- Zoom da pagina -->
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">


    <title>Dados do Município</title>

    <!-- local do arquivo .css flask -->
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')}}">
    <!-- --------------------------------------------------------------------------------------------------------------------------------------
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="C:\Users\Aldrik\Desktop\helloFlask\app\static\style.css">
    -->


  </head>


  <body>
    <!-- Menu Horizontal e Direcionamento de paginas -->
    <div class="menuH">
      <nav>
        
        <div class="logo"><img src="{{  url_for('static', filename='logo.jpg')}}" ></div>
        <div class="logo2"><img id="elem" width="55" height="auto" src="{{ url_for('static', filename='logo2.jpg')}}">
        <img id="marca" width="175" height="auto" src="{{ url_for('static', filename='logo2-open.jpg')}}"></div>

        <button class="button button1">&#9776;</button>

        <ul>
            <li> <a href="/index" >Início</a> </li>
            <li> <a href="/estado/covidsp">Estado</a> </li>
            <li> <a href="/municipios/covidsp"  >Municípios</a> </li>
            <li> <a href="/index"  >Observações</a> </li>
            <li> <a href="https://github.com/SoSoJigsaw/Carcara" ><img id="git" width="48" height="auto" src="{{ url_for('static', filename='git-hub.png')}}"/></a>  </li>
        </ul>
      </nav>
      </div>

      <!-- Bloco  -->
      <div class="bloco">
        <p class="p1">Dados dos Municípios</p>
         
          
          <div class="pesquisa">
            {% block content %}
             <h2>Pesquisa Personalizada</h2>

              {% if "/municipios" == request.path|string %}
              <form action="/municipios/covidsp/search" method="post">
                   <p>
                       {{form.municipio_field.label}} <br>
                       {% if request.form['municipio_field'] != '' %}
                       {{form.municipio_field(type="text", value=city)}}
                       {% else %}
                       {{form.municipio_field(type="text")}}
                       {% endif %}
                   </p>
                    <p>
                            {{form.startdate_field.label}} <br>
                            {% if request.form['startdate_field'] != '' %}
                            {{form.startdate_field(min=min, max=max, value=start)}}
                            {% else %}
                            {{form.startdate_field(min=min, max=max)}}
                            {% endif %}
                        </p>
                        <p>
                            {{form.enddate_field.label}} <br>
                            {% if request.form['enddate_field'] != '' %}
                             {{form.enddate_field(min=min, max=max, value=end)}}
                            {% else %}
                            {{form.enddate_field(min=min, max=max)}}
                             {% endif %}
                        </p>
                   <p>
                       {{form.submit_field()}}
                   </p>
               </form>
                     {% endif %}

              {% if "/municipios/covidsp" in request.path|string %}
              <form action="/municipios/covidsp/search" method="post">
                   <p>
                       {{form.municipio_field.label}} <br>
                       {% if request.form['municipio_field'] != '' %}
                       {{form.municipio_field(type="text", value=city)}}
                       {% else %}
                       {{form.municipio_field(type="text")}}
                       {% endif %}
                   </p>
                    <p>
                            {{form.startdate_field.label}} <br>
                            {% if request.form['startdate_field'] != '' %}
                            {{form.startdate_field(min=min, max=max, value=start)}}
                            {% else %}
                            {{form.startdate_field(min=min, max=max)}}
                            {% endif %}
                        </p>
                        <p>
                            {{form.enddate_field.label}} <br>
                            {% if request.form['enddate_field'] != '' %}
                             {{form.enddate_field(min=min, max=max, value=end)}}
                            {% else %}
                            {{form.enddate_field(min=min, max=max)}}
                             {% endif %}
                        </p>
                   <p>
                       {{form.submit_field()}}
                   </p>
               </form>
                     {% endif %}

                   {% if "/municipios/srag" in request.path|string %}
               <form action="/municipios/srag/search" method="post">
                   <p>
                       {{form.municipio_field.label}} <br>
                       {% if request.form['municipio_field'] != '' %}
                       {{form.municipio_field(type="text", value=city)}}
                       {% else %}
                       {{form.municipio_field(type="text")}}
                       {% endif %}
                   </p>
                    <p>
                            {{form.startdate_field.label}} <br>
                            {% if request.form['startdate_field'] != '' %}
                            {{form.startdate_field(min=min, max=max, value=start)}}
                            {% else %}
                            {{form.startdate_field(min=min, max=max)}}
                            {% endif %}
                        </p>
                        <p>
                            {{form.enddate_field.label}} <br>
                            {% if request.form['enddate_field'] != '' %}
                             {{form.enddate_field(min=min, max=max, value=end)}}
                            {% else %}
                            {{form.enddate_field(min=min, max=max)}}
                             {% endif %}
                        </p>
                   <p>
                       {{form.submit_field()}}
                   </p>
               </form>
                     {% endif %}

                    {% if "/municipios/vacina" in request.path|string %}
               <form action="/municipios/vacina/search" method="post">
                    <p>
                       {{form.municipio_field.label}} <br>
                       {% if request.form['municipio_field'] != '' %}
                       {{form.municipio_field(type="text", value=city)}}
                       {% else %}
                       {{form.municipio_field(type="text")}}
                       {% endif %}
                    </p>
                     <p>
                            {{form.startdate_field.label}} <br>
                            {% if request.form['startdate_field'] != '' %}
                            {{form.startdate_field(min=min, max=max, value=start)}}
                            {% else %}
                            {{form.startdate_field(min=min, max=max)}}
                            {% endif %}
                        </p>
                        <p>
                            {{form.enddate_field.label}} <br>
                            {% if request.form['enddate_field'] != '' %}
                             {{form.enddate_field(min=min, max=max, value=end)}}
                            {% else %}
                            {{form.enddate_field(min=min, max=max)}}
                             {% endif %}
                        </p>
                    <p>
                       {{form.submit_field()}}
                    </p>
               </form>
                       {% endif %}

             {% if "/municipios/leitos" in request.path|string %}
               <form action="/municipios/leitos/search" method="post">
                     <p>
                       {{form.municipio_field.label}} <br>
                       {% if request.form['municipio_field'] != '' %}
                       {{form.municipio_field(type="text", value=city)}}
                       {% else %}
                       {{form.municipio_field(type="text")}}
                       {% endif %}
                    </p>
                      <p>
                            {{form.startdate_field.label}} <br>
                            {% if request.form['startdate_field'] != '' %}
                            {{form.startdate_field(min=min, max=max, value=start)}}
                            {% else %}
                            {{form.startdate_field(min=min, max=max)}}
                            {% endif %}
                        </p>
                        <p>
                            {{form.enddate_field.label}} <br>
                            {% if request.form['enddate_field'] != '' %}
                             {{form.enddate_field(min=min, max=max, value=end)}}
                            {% else %}
                            {{form.enddate_field(min=min, max=max)}}
                             {% endif %}
                        </p>
                     <p>
                       {{form.submit_field()}}
                     </p>
               </form>
                          {% endif %}

               {% if "/municipios/isolamento-social" in request.path|string %}
               <form action="/municipios/isolamento-social/search" method="post">
                      <p>
                       {{form.municipio_field.label}} <br>
                       {% if request.form['municipio_field'] != '' %}
                       {{form.municipio_field(type="text", value=city)}}
                       {% else %}
                       {{form.municipio_field(type="text")}}
                       {% endif %}
                      </p>
                       <p>
                            {{form.startdate_field.label}} <br>
                            {% if request.form['startdate_field'] != '' %}
                            {{form.startdate_field(min=min, max=max, value=start)}}
                            {% else %}
                            {{form.startdate_field(min=min, max=max)}}
                            {% endif %}
                        </p>
                        <p>
                            {{form.enddate_field.label}} <br>
                            {% if request.form['enddate_field'] != '' %}
                             {{form.enddate_field(min=min, max=max, value=end)}}
                            {% else %}
                            {{form.enddate_field(min=min, max=max)}}
                             {% endif %}
                        </p>
                      <p>
                       {{form.submit_field()}}
                      </p>
               </form>
                            {% endif %}
             {% endblock %}

          </div>
      </div>

      <!-- Paragrafo Invisivel -->
      <p class="hide"> a</p>

<div class="MensagemAviso">
{% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}

      
      <h1>  {{ message }}  </h1>
      {% endfor %}
   {% endif %}
{% endwith %}
</div>

      <!-- Paragrafo Invisivel -->
       <p class="hide"> a</p>






       <!-- tabs -->
        <div class="tabela">

        
          <div class="tab">

          {% if "municipios/covidsp" not in request.path|string %}
          <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">
          {% else %}
          <button class="tablinks active" onclick="openCity(event, 'London')" id="defaultOpen">
          {% endif %}
                {% if "/search" not in request.path|string %}
                <a class="button" href="{{ url_for('covidmuni_main') }}" style="text-decoration:none; color:#000000;">Casos e Óbitos</a>
                {% endif %}
                {% if "/search" in request.path|string %}
                <a class="button" href="{{ url_for('covidmuni_search') }}" style="text-decoration:none; color:#000000;">Casos e Óbitos</a>
                {% endif %}
          </button>

          <!--  SRAG 
          <button class="tablinks" onclick="openCity(event, 'Paris')">
              {% if "/search" not in request.path|string %}
              <a class="button" href="{{ url_for('sragmuni_main') }}" style="text-decoration:none; color:#000000;">Casos Graves (SRAG)</a>
              {% endif %}
              {% if "/search" in request.path|string %}
              <a class="button" href="{{ url_for('sragmuni_search') }}" style="text-decoration:none; color:#000000;">Casos Graves (SRAG)</a>
              {% endif %}
          </button>
          -->

          {% if "municipios/vacina" not in request.path|string %}
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">
          {% else %}
          <button class="tablinks active" onclick="openCity(event, 'Tokyo')">
          {% endif %}
              {% if "/search" not in request.path|string %}
              <a class="button" href="{{ url_for('vacina_main') }}" style="text-decoration:none; color:#000000;">Vacinação</a>
              {% endif %}
              {% if "/search" in request.path|string %}
              <a class="button" href="{{ url_for('vacina_search') }}" style="text-decoration:none; color:#000000;">Vacinação</a>
              {% endif %}
          </button>

          {% if "municipios/isolamento-social" not in request.path|string %}
          <button class="tablinks" onclick="openCity(event, 'Berlin')">
          {% else %}
          <button class="tablinks active" onclick="openCity(event, 'Berlin')">
          {% endif %}
              {% if "/search" not in request.path|string %}
              <a class="button" href="{{ url_for('isolamuni_main') }}" style="text-decoration:none; color:#000000;">Isolamento Social</a>
              {% endif %}
              {% if "/search" in request.path|string %}
              <a class="button" href="{{ url_for('isolamuni_search') }}" style="text-decoration:none; color:#000000;">Isolamento Social</a>
              {% endif %}
          </button>

          </div>

          <div id="London" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
            <!-- 
            <div class="BlocoH">
              <div class="blocoInfo1"></div>
              <div class="blocoInfo2"></div>
              <div class="blocoInfo3"></div>
              <div class="blocoInfo4"></div>
            </div>
          -->
          </div>

          <!--  SRAG 
          <div id="Paris" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
           
          </div>
          -->

          <div id="Tokyo" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
             <!-- 
            <div class="BlocoH">
              <div class="blocoInfo1"></div>
              <div class="blocoInfo2"></div>
              <div class="blocoInfo3"></div>
              <div class="blocoInfo4"></div>
            </div>
          -->
          </div>

          <div id="Berlin" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
            <!-- 
            <div class="BlocoH">
              <div class="blocoInfo1"></div>
              <div class="blocoInfo2"></div>
              <div class="blocoInfo3"></div>
              <div class="blocoInfo4"></div>
            </div>
          -->
          </div>

            {% if graf1_covidmuni %}
            {{ graf1_covidmuni|safe }}
            {% endif %}

            {% if graf2_covidmuni %}
            {{ graf2_covidmuni|safe }}
            {% endif %}

            {% if graf3_covidmuni %}
            {{ graf3_covidmuni|safe }}
            {% endif %}

            {% if graf4_covidmuni %}
            {{ graf4_covidmuni|safe }}
            {% endif %}


            {% if graf1_vacina %}
            {{ graf1_vacina|safe }}
            {% endif %}

            {% if graf2_vacina %}
            {{ graf2_vacina|safe }}
            {% endif %}



             {% if graf1_isola %}
            {{ graf1_isola|safe }}
            {% endif %}


            <!-- Paragrafo Invisivel -->
            <p class="hide"> a</p>
            <!-- Paragrafo Invisivel -->
            <p class="hide"> a</p>


          <script>
            function openCity(evt, cityName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }

              document.getElementById(cityName).style.display = "block";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
            </script>
        </div>
  </body>
</html>
