<!DOCTYPE html>
<!-- Idioma da pagina -->
<html lang ="pt-br">


  <head>
                             
    <!-- Mapa de caracteres -->
    <meta charset="UTF-8"/>

    <!-- Zoom da pagina -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Dados do Município</title>

    <!-- local do arquivo .css flask -->
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='datepicker.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='graficos.css')}}"/>

  </head>


  <body>
    <!-- Menu Horizontal e Direcionamento de paginas -->
    <div class="menuH">
      <nav>
        
        <div class="logo"><img src="{{  url_for('static', filename='logo.jpg')}}" ></div>
        <div class="logo2"><img id="elem" width="55" height="auto" src="{{ url_for('static', filename='logo2.jpg')}}">
        <img id="marca" width="175" height="auto" src="{{ url_for('static', filename='logo2-open.jpg')}}"></div>

        <button class="button button1">&#9776;</button>

        <ul>
            <li> <a href="/index" >Início</a> </li>
            <li> <a href="/estado/covidsp">Estado</a> </li>
            <li> <a href="/municipios/covidsp"  >Municípios</a> </li>
            <li> <a id='git-link' href="https://github.com/SoSoJigsaw/Carcara" ><img id="git" width="48" height="auto" src="{{ url_for('static', filename='git-hub.png')}}"/></a>  </li>
        </ul>
      </nav>
      </div>

      <!-- Bloco  -->
      <div class="bloco">

        <p class="titulo" id="titulo-municipios">Dados dos Municípios</p>

        <!-- Paragrafo Invisivel -->
            <p class="hide"> a</p>

        <div class="pesquisa" id="pesquisa-municipios">
                            {% block content %}

              {% if "/municipios" == request.path|string %}
              <form action="/municipios/covidsp/search#p1-start" method="post">
                  <p class="p2">
                       {{form.municipio_field.label}} <br>
                       {% if request.form['municipio_field'] != '' %}
                       {{form.municipio_field(type="text", autocomplete="off", value=city)}}
                       {% else %}
                       {{form.municipio_field(type="text", autocomplete="off")}}
                       {% endif %}
                        </p>
                  <p class="p1" id="p1-start">
                            {{form.startdate_field.label}} <br>
                            {% if request.form['startdate_field'] != '' %}
                            {{form.startdate_field(id="calendar", autocomplete="off", min=min, max=max, value=start, type="text")}}
                            {% else %}
                            {{form.startdate_field(id="calendar", autocomplete="off", min=min, max=max, type="text")}}
                            {% endif %}

                        </p>
                  <p class="p1" id="p1-end">
                            {{form.enddate_field.label}} <br>
                            {% if request.form['enddate_field'] != '' %}
                             {{form.enddate_field(id="calendar1", autocomplete="off", min=min, max=max, value=end, type="text")}}
                            {% else %}
                            {{form.enddate_field(id="calendar1", autocomplete="off", min=min, max=max, type="text")}}
                             {% endif %}
                        </p>
                  <p class="p">
                            {{form.submit_field(value="", tabindex="0", style="background-color: transparent")}}
                        </p>
               </form>
                     {% endif %}

              {% if "/municipios/covidsp" in request.path|string %}
              <form action="/municipios/covidsp/search#p1-start" method="post">
                  <p class="p2">
                       {{form.municipio_field.label}} <br>
                       {% if request.form['municipio_field'] != '' %}
                       {{form.municipio_field(type="text", autocomplete="off", value=city)}}
                       {% else %}
                       {{form.municipio_field(type="text", autocomplete="off")}}
                       {% endif %}
                        </p>
                  <p class="p1" id="p1-start">
                            {{form.startdate_field.label}} <br>
                            {% if request.form['startdate_field'] != '' %}
                            {{form.startdate_field(id="calendar", autocomplete="off", min=min, max=max, value=start, type="text")}}
                            {% else %}
                            {{form.startdate_field(id="calendar", autocomplete="off", min=min, max=max, type="text")}}
                            {% endif %}

                        </p>
                  <p class="p1" id="p1-end">
                            {{form.enddate_field.label}} <br>
                            {% if request.form['enddate_field'] != '' %}
                             {{form.enddate_field(id="calendar1", autocomplete="off", min=min, max=max, value=end, type="text")}}
                            {% else %}
                            {{form.enddate_field(id="calendar1", autocomplete="off", min=min, max=max, type="text")}}
                             {% endif %}
                        </p>
                  <p class="p">
                            {{form.submit_field(value="", tabindex="0", style="background-color: transparent")}}
                        </p>
               </form>
                     {% endif %}

                    {% if "/municipios/vacina" in request.path|string %}
               <form action="/municipios/vacina/search#p1-start" method="post">
                    <p class="p2">
                       {{form.municipio_field.label}} <br>
                       {% if request.form['municipio_field'] != '' %}
                       {{form.municipio_field(type="text", autocomplete="off", value=city)}}
                       {% else %}
                       {{form.municipio_field(type="text", autocomplete="off")}}
                       {% endif %}
                        </p>
                    <p class="p1" id="p1-start">
                            {{form.startdate_field.label}} <br>
                            {% if request.form['startdate_field'] != '' %}
                            {{form.startdate_field(id="calendar", autocomplete="off", min=min, max=max, value=start, type="text")}}
                            {% else %}
                            {{form.startdate_field(id="calendar", autocomplete="off", min=min, max=max, type="text")}}
                            {% endif %}

                        </p>
                    <p class="p1" id="p1-end">
                            {{form.enddate_field.label}} <br>
                            {% if request.form['enddate_field'] != '' %}
                             {{form.enddate_field(id="calendar1", autocomplete="off", min=min, max=max, value=end, type="text")}}
                            {% else %}
                            {{form.enddate_field(id="calendar1", autocomplete="off", min=min, max=max, type="text")}}
                             {% endif %}
                        </p>
                  <p class="p">
                            {{form.submit_field(value="", tabindex="0", style="background-color: transparent")}}
                        </p>
               </form>
                       {% endif %}

               {% if "/municipios/isolamento-social" in request.path|string %}
               <form action="/municipios/isolamento-social/search#p1-start" method="post">
                      <p class="p2">
                       {{form.municipio_field.label}} <br>
                       {% if request.form['municipio_field'] != '' %}
                       {{form.municipio_field(type="text", autocomplete="off", value=city)}}
                       {% else %}
                       {{form.municipio_field(type="text", autocomplete="off")}}
                       {% endif %}
                      </p>
                      <p class="p1" id="p1-start">
                            {{form.startdate_field.label}} <br>
                            {% if request.form['startdate_field'] != '' %}
                            {{form.startdate_field(id="calendar", autocomplete="off", min=min, max=max, value=start, type="text")}}
                            {% else %}
                            {{form.startdate_field(id="calendar", autocomplete="off", min=min, max=max, type="text")}}
                            {% endif %}

                        </p>
                      <p class="p1" id="p1-end">
                            {{form.enddate_field.label}} <br>
                            {% if request.form['enddate_field'] != '' %}
                             {{form.enddate_field(id="calendar1", autocomplete="off", min=min, max=max, value=end, type="text")}}
                            {% else %}
                            {{form.enddate_field(id="calendar1", autocomplete="off", min=min, max=max, type="text")}}
                             {% endif %}
                        </p>
                      <p class="p">
                            {{form.submit_field(value="", tabindex="0", style="background-color: transparent")}}
                        </p>
               </form>
                            {% endif %}
             {% endblock %}

          </div>
      </div>

      <!-- Paragrafo Invisivel -->
      <p class="hide"> a</p>

          <!-- tabs -->
          <div class="tab">

          {% if "municipios/covidsp" not in request.path|string %}
          <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">
          {% else %}
          <button class="tablinks active" onclick="openCity(event, 'London')" id="defaultOpen">
          {% endif %}
                {% if "/search" not in request.path|string %}
                <a class="button" href="{{ url_for('covidmuni_main') }}#p1-start" style="text-decoration:none; color:#000000;">Casos e Óbitos</a>
                {% endif %}
                {% if "/search" in request.path|string %}
                <a class="button" href="{{ url_for('covidmuni_search') }}#p1-start" style="text-decoration:none; color:#000000;">Casos e Óbitos</a>
                {% endif %}
          </button>


              <a class="tab-separator">|</a>


          {% if "municipios/vacina" not in request.path|string %}
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">
          {% else %}
          <button class="tablinks active" onclick="openCity(event, 'Tokyo')">
          {% endif %}
              {% if "/search" not in request.path|string %}
              <a class="button" href="{{ url_for('vacina_main') }}#p1-start" style="text-decoration:none; color:#000000;">Vacinação</a>
              {% endif %}
              {% if "/search" in request.path|string %}
              <a class="button" href="{{ url_for('vacina_search') }}#p1-start" style="text-decoration:none; color:#000000;">Vacinação</a>
              {% endif %}
          </button>


              <a class="tab-separator">|</a>


          {% if "municipios/isolamento-social" not in request.path|string %}
          <button class="tablinks" onclick="openCity(event, 'Berlin')">
          {% else %}
          <button class="tablinks active" onclick="openCity(event, 'Berlin')">
          {% endif %}
              {% if "/search" not in request.path|string %}
              <a class="button" href="{{ url_for('isolamuni_main') }}#p1-start" style="text-decoration:none; color:#000000;">Isolamento Social</a>
              {% endif %}
              {% if "/search" in request.path|string %}
              <a class="button" href="{{ url_for('isolamuni_search') }}#p1-start" style="text-decoration:none; color:#000000;">Isolamento Social</a>
              {% endif %}
          </button>

          </div>

            <!-- Paragrafo Invisivel -->
             <p class="hide"> a</p>

            <div class="flash">
                {% with messages = get_flashed_messages() %}
                          {% if messages %}
                     {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                             {% endif %}
                            {% endwith %}
            </div>

      <!-- Paragrafo Invisivel -->
       <p class="hide"> a</p>

       <div class="graficos-municipios">
           <div class="covidmuni">
               {% if graf1_covidmuni %}
               <div class="casos-diarios-muni">{{ graf1_covidmuni|safe }}
                   <button class="hide-dado" onclick="dadosComp()">DADOS</button>
                   <p class=unhide-dado" id="df1">Variação nos últimos sete dias no período:</p>
               </div>
               {% endif %}

               {% if graf2_covidmuni %}
               <div class="obitos-diarios-muni">{{ graf2_covidmuni|safe }}
                   <button class="hide-dado" onclick="dadosComp()">DADOS</button>
                   <p class=unhide-dado" id="df2">Variação nos últimos sete dias no período:</p>
               </div>
               {% endif %}

               {% if graf3_covidmuni %}
               <div class="total-obitos-muni">{{ graf3_covidmuni|safe }}
                   <button class="hide-dado" onclick="dadosComp()">DADOS</button>
                   <p class=unhide-dado" id="df3">Variação nos últimos sete dias no período:</p>
               </div>
               {% endif %}

               {% if graf4_covidmuni %}
               <div class="total-casos-muni">{{ graf4_covidmuni|safe }}
                   <button class="hide-dado" onclick="dadosComp()">DADOS</button>
                   <p class=unhide-dado" id="df4">Variação nos últimos sete dias no período:</p>
               </div>
               {% endif %}
           </div>

           <div class="vacinamuni">
               {% if graf1_vacina %}
               <div class="doses-muni">{{ graf1_vacina|safe }}
                   <button class="hide-dado" onclick="dadosComp()">DADOS</button>
                   <p class=unhide-dado" id="df5">Variação nos últimos sete dias no período:</p>
               </div>
               {% endif %}

               {% if graf2_vacina %}
               <div class="vacina-distribuicao-muni">{{ graf2_vacina|safe }}
                   <button class="hide-dado" onclick="dadosComp()">DADOS</button>
                   <p class=unhide-dado" id="df6">Variação nos últimos sete dias no período:</p>
               </div>
               {% endif %}
           </div>

               {% if graf1_isola %}
               <div class="isola-muni">{{ graf1_isola|safe }}
                   <button class="hide-dado" onclick="dadosComp()">DADOS</button>
                   <p class=unhide-dado" id="df7">Variação nos últimos sete dias no período:</p>
               </div>
               {% endif %}
       </div>

            <!-- Paragrafo Invisivel -->
            <p class="hide"> a</p>
            <!-- Paragrafo Invisivel -->
            <p class="hide"> a</p>

        <script>
            function openCity(evt, cityName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }

              document.getElementById(cityName).style.display = "block";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>

       <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
       <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
       <link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
       <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script>
       <script type="text/javascript">
            $.datepicker.setDefaults({
              dateformat: "dd/mm/yyyy",
              showOn: "button",
              buttonImageOnly: true,
              buttonImage: "https://github.com/SoSoJigsaw/Carcara/blob/main/Aplica%C3%A7%C3%A3o%20Web/app/static/calendar-top.png?raw=true",
              buttonText: "",
              minDate: new Date(2020, 2 - 1, 26),
              maxDate: "0",
              showAnim: "slideDown",
              showOptions: { direction: "up" }
            });

            $.datepicker.setDefaults( $.datepicker.regional[ "pt-BR" ] );

            $("#calendar").datepicker();
            $("#calendar1").datepicker();

       </script>
       <script type="text/javascript">
           $('.p2 input').click(function() {

             $('.p2 input').css('background', 'rgba(249, 212, 156, 0.4)');
             applied = true;

           })

           $('#p1-start input').click(function() {

             $('#p1-start input').css('background-color', 'rgba(249, 212, 156, 0.4)');
             applied = true;

           })

           $('#p1-end input').click(function() {

             $('#p1-end input').css('background-color', 'rgba(249, 212, 156, 0.4)');
             applied = true;

           })
       </script>
       <script type="text/javascript">
          $('body').on('scroll', function(){
             $("#ui-datepicker-div").hide();
          });
       </script>
  </body>
</html>
