@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'Neue Helvetica Medium';
  font-style: normal;
  font-weight: normal;
  src: url('Helvetica Neue LT 65 Medium.woff') format('woff');
}

@font-face {
  font-family: 'Neue Helvetica Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url('Helvetica Neue LT 66 Medium Italic.woff') format('woff');
}

*{
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  display: inline-block;
  background-color: #ffffff;
  animation: transitionIn 0.75s;
  font-family: 'Neue Helvetica Medium';
}


@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(168, 63, 57, 0.4);
  }
  70% {
      box-shadow: 0 0 0 50px rgba(168, 63, 57, 0);
  }
  100% {
      box-shadow: 0 0 0 150px rgba(168, 63, 57, 0);
  }
}

@keyframes bgOpacityTransition{
  0% {
    background: rgba(248, 172, 91, 0.1);
  }

  11% {
    background: rgba(248, 172, 91, 0.2);
  }

  22% {
    background: rgba(248, 172, 91, 0.3);
  }

  33% {
    background: rgba(248, 172, 91, 0.4);
  }

  44% {
    background: rgba(248, 172, 91, 0.5);
  }

  55% {
    background: rgba(248, 172, 91, 0.6);
  }

  66% {
    background: rgba(248, 172, 91, 0.7);
  }

  77% {
    background: rgba(248, 172, 91, 0.8);
  }

  88% {
    background: rgba(248, 172, 91, 0.9);
  }

  100% {
    background: rgba(248, 172, 91, 1);
  }
}


/* ------------------------------- ↓↓↓↓↓ Menu(navbar) ↓↓↓↓↓ --------------------------------*/ 

.logo{
   height: auto;
   width: auto;
   line-height: 78px;
   vertical-align: middle;
   margin-left: 2px;
   margin-top: 2px;
}

.logo2{
   max-width:auto;
   max-height:auto;
   margin-right: 235px;
   width: auto;
   height: auto;
   grid-column: 1;
   grid-row: 1;
   line-height: 78px;
   vertical-align: middle;
   margin-left: 398px;
   transition: 1s;
   position: relative;
   left: -528px;
   margin-top: 1px;
   perspective:1000;
}

.logo2 #marca{
   margin-top: 4px;
   opacity: 0;
   position: static;
   transition: 1s;
}

 .logo2 #elem{
    top: 50% !important;
    margin: 0 auto !important;
    position: static;
    transition: 1s;
    delay: 0;
}

.logo2:hover #elem{
  transform: rotate(360deg);
  transition: 1s;
}

.logo2:hover #elem{
  opacity: 0;
  transition: 1s;
}

.logo2:hover #elem{
  width: 1px;
  height: auto;
  transition: 1s;
}

.logo2:hover #marca{
  opacity: 1;
  transition: 1s;
  delay: 0.5;
}

li a {
   text-decoration: none;
   color: black;
   padding-bottom: 5px;
   background: linear-gradient(to right, rgba(220, 119, 13, 0.8) 50%, rgba(220, 119, 13, 0.8) 100%);
   background-size: 40px 45%;
   background-position: 40% 29px;
   background-position-x: left;
   vertical-align: middle;
   background-repeat: no-repeat;
   width: 600%;
   padding-left: 1px;
   padding-right: 3px;
   transition: 1s;
}

#git{
   max-width:auto;
   max-height:auto;
   width: auto;
   height: auto;
   vertical-align: middle;
   margin-top: -8px !important;
}

li #git-link {
  background: transparent !important;
}

nav {
   background-color: #ffffff;
   padding-bottom: 3px;
   justify-content: space-between;
   box-shadow: 0 10px 40px rgba(150,172,177,0.8);
   max-height: 55px;
 }

 ul {
   list-style: none;
   padding: 0;
   overflow: hidden;
   transition: all .5s;
   width: 24%;
 }

 li {
   padding: 14px;
   max-height: 32px;
   font-size: 28px;
   vertical-align: middle;
 }

 nav, ul {
   display: flex;
   flex-direction: row;
 }

 .button1 {
   background-color: transparent;
   border: none;
   color: rgb(0, 0, 0);
   font-size: 36px;
   position: absolute;
   right: 10px;
   top: center;
   display: none;
 }

 li:hover :not(#git) {
   text-decoration: none;
   color: #dc770d;
   padding-bottom: 5px;
   background: linear-gradient(to right, #dc770d 0%, #dc770d 75%);
   background-size: 100% 45%;
   background-position: 40% 29px;
   background-position-x: left;
   vertical-align: middle;
   background-repeat: no-repeat;
   float: inline-right !important;
   transition: 0.5s;
 }

#git:hover {
   vertical-align: middle;
   background: white !important;
   transition: 0.3s;
   box-shadow: 0px 2px 20px #dc770d;
   border-radius: 70%;
 }

 .button1:hover {
   cursor: pointer;
   opacity: 0.8;
   background-color: #dc770d;
   padding: 4px;
 }

 .button1:focus~ul {
   height: 300px;
 }

 @media (max-width: 1050px) {
 
   nav,
   ul {
       flex-direction: column;
   }
 
   ul {
       text-align: center;
       margin: 0;
       height: 0;
   }
 
   nav {
       padding: 0;
   }
 
   .button1 {
       display: flex;
   }
 
   li, ul {
       width: 100%;
   }
 }

/* ------------------------------- ↓↓↓↓↓ INDEX.HTML ↓↓↓↓↓ --------------------------------*/ 

@font-face {
    font-family: 'Pathway-Gothic-One-Regular';
    src:url('Pathway-Gothic-One-Regular.ttf.woff') format('woff'),
        url('Pathway-Gothic-One-Regular.ttf.svg#Pathway-Gothic-One-Regular') format('svg'),
        url('Pathway-Gothic-One-Regular.ttf.eot'),
        url('Pathway-Gothic-One-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.btn {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.1rem;
  top:650px;
  margin: 5px;
  background: #F8AC5B;
  color: #AC5A00;
  border-radius: 5px;
  box-shadow: #000000;
  box-shadow: 0px 0px 16px 0 rgba(0,0,0,0.2);
  transition: background 500ms ease;
}

.btn:hover {
  cursor: pointer;
  background: #AC5A00;
  color: #F8AC5B;
}

/* Showcase */
#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  position: relative;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: color;
}

#showcase::before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 1538px;
  top: -32%;
  left: 13%;
  z-index: -1;
  background: url('mapa-sp-perspective.png') no-repeat center center/cover;
}


/*-------------- ↓↓↓↓↓ Criando a logo principal com perspective hover effect ↓↓↓↓↓ ------------ */

.perspective-text {
  font-family: 'Pathway-Gothic-One-Regular';
  font-size: 150px;
  font-weight: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  float: left;
  width: 100% !important;
  max-weight: auto;
  display: inline-block;
  position: relative;
  top: -46%;
  left: 0%;
  resize: auto !important;
}

.perspective-line {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.perspective-line p {
  margin: 0px;
  line-height: 80%;
  max-width: 47%;
  height: 100%;
  position: relative;
  transition: all 0.5s ease-in-out;
  float: left;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.333);
}

.perspective-line p:nth-child(odd) {
  box-shadow: 80px 80px 80px -50px orange;
}

.perspective-line p:nth-child(even) {
}

.perspective-line:hover #estruturada {
  transform: translate(0, -160px);
  box-shadow: 30px 30px 30px 30px transparent;
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 10px;
}

.perspective-line #estruturada {
  margin-left: 88px;
  color:#dc770d;
}

#showcase-container {
  text-align: center;
  margin-left: -300px;
  margin-right: 500px;
}

#showcase-container .btn {
  font-family: 'Pathway-Gothic-One-Regular';
  text-decoration: none;
  color: #000000;
  font-size: 32px;
  float: center;
  opacity: 0.8;
  border-radius: 15px 15px;
  transition: 1s;
}

#showcase-container .btn:hover{
  font-size: 40px;
  transition: 1s;
}

#showcase-container .btn:focus{
  animation: pulse 2s;
}

#showcase-container p {
  font-size: 48px;
  padding: 4px 0;
  font-weight: 500;
  font-family: 'Pathway-Gothic-One-Regular';
}


/* ------------------------------- ↓↓↓↓↓ Bloco Estados/Municipios ↓↓↓↓↓ --------------------------------*/ 

@font-face {
    font-family: 'KelsonSansBG-Normal';
    src:url('KelsonSansBG-Normal.woff2') format('woff2'),
        url('KelsonSansBG-Normal.woff') format('woff'),
        url('KelsonSansBG-Normal.eot'),
    font-weight: 500;
    font-style: normal;
}

.bloco {
  position: relative;
  box-shadow: inset 0px 0px 3px white;
  background: linear-gradient(180deg, rgba(0,0,0,0.7) 5%, rgba(0,0,0,0.6) 15%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.3) 55%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0.1) 85%, rgba(0,0,0,0.0) 95%);
  line-color: white;
  text-align: center;
  border-color: white;
}

#titulo-estado {
  text-align: center;
  font-family: 'KelsonSansBG-Normal';
  font-size: 120px;
  color: black;
  text-transform: uppercase;
  border-bottom: 10px solid #ac5a00;
  border-radius: 60px 60px;
  white-space:nowrap;
  padding-top: 150px;
  padding-right: 100px;
  padding-left: 100px;
  margin-left: 350px;
  margin-right: 350px;
}

#titulo-municipios {
  text-align: center;
  font-family: 'KelsonSansBG-Normal';
  font-size: 120px;
  color: black;
  text-transform: uppercase;
  border-bottom: 10px solid #ac5a00;
  border-radius: 60px 60px;
  line-height: -40%;
  padding-top: 150px;
  margin-left: 210px;
  margin-right: 210px;
}


/* ==========================================================================
   #Botão de pesquisa
   ========================================================================== */
.pesquisa .p {
  font: none;
  background: url('lupa.png') no-repeat scroll 0px -1px, #f8ac5b;
  background-size: 62px;
  border-radius: 10px;
  transition: all 0.4s ease;
  padding: 0 23px;
  width: 60px !important;
  height: 57px !important;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.35);
  display: inline-block;
  margin-left: 15px !important;
  margin-top: 27px !important;
}

#submit_field {
  background: transparent;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  padding: 0 23px;
  width: 64px !important;
  height: 60px !important;
  box-shadow: 0px 8px 20px 0px transparent;
  margin-left: -23px;
}

.pesquisa .p:hover {
  background: url('lupa.png') no-repeat scroll 3px 2px, #ac5a00;
  background-size: 55px;
}

#submit_field:focus{
  animation: pulse 2s;
}

@media (max-width: 767px) {
  .pesquisa .p {
    width: 100%;
  }
}

/* ==========================================================================
   #Formulários de pesquisa
   ========================================================================== */
.pesquisa .p1 input {
  outline: none;
  margin: 0;
  border: none;
  box-shadow: none;
  width: 100%;
  font-size: 25px;
  font-family: 'Neue Helvetica Medium';
}

.pesquisa .p2 input {
  outline: none;
  margin: 0;
  border: none;
  box-shadow: none;
  width: 100%;
  font-size: 25px;
  font-family: 'Neue Helvetica Medium';
}

.pesquisa input:disabled {
  cursor: pointer;
  background: transparent;
}

.pesquisa input {
  resize: auto;
  cursor: pointer;
}

.pesquisa .p2 input {
  position: relative;
  margin-bottom: 23px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.35);
  padding: 16px 20px;
  padding-bottom: 10px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #dc770d;
  float: left;
  line-height: 26px;
}

.pesquisa .p1 input {
  position: relative;
  margin-bottom: 23px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.35);
  padding: 16px 20px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #dc770d;
  float: left;
  line-height: 26px;
}

.p1 label {
  font-size: 18px;
  font-family: 'Neue Helvetica Medium';
  color: #f8ac5b;
  text-transform: uppercase;
  font-weight: 700;
  width: 75%;
}

.p2 label {
  font-size: 20px;
  font-family: 'Neue Helvetica Medium' !important;
  color: #f8ac5b;
  text-transform: uppercase;
  font-weight: 700;
  width: 75%;
  position: relative;
  top: 4px;
}

.pesquisa .p2 {
  width: 500px;
}

.pesquisa .p1 {
  width: 190px;
}

@media (max-width: 767px) {
  .pesquisa .p2,
  .pesquisa .p1 {
    width: 100%;
  }
}

.pesquisa .p2 {
  font-size: 36px;
  padding: 9px 0;
  font-family: 'Neue Helvetica Medium' !important;
}

.pesquisa .p1 {
  font-size: 18px;
  padding: 9px 0;
  font-family: 'Neue Helvetica Medium' !important;
}

.pesquisa #p1-start {
  margin-left: 15px;
}

.pesquisa #p1-end {
  margin-left: 15px;
}


/* ==========================================================================
   #Ajustando todos os elementos de search tool entre si
   ========================================================================== */
#pesquisa-estado .p1 {
  float: left;
  width: 14.96%;
  resize: auto;
  clear: right;
  display: inline-block;
}

#pesquisa-estado .p{
  float: left;
  width: 6%;
  resize: auto;
  display: inline-block;
}

#pesquisa-estado {
  text-align: left !important;
  display: inline-block;
  padding-top: 150px;
  height: auto;
  width: 100%;
  position: relative;
  top: 0;
  left: 635px;
}

#pesquisa-municipios .p2 {
  float: left;
  width: 55%;
  resize: auto;
  clear: right;
  display: inline-block;
  margin-top: -20px;
}

#pesquisa-municipios .p1 {
  float: left;
  width: 14.96%;
  resize: auto;
  clear: right;
  display: inline-block;
}

#pesquisa-municipios .p {
  float: left;
  width: 6%;
  resize: auto;
  display: inline-block;
}

#pesquisa-municipios {
  text-align: left !important;
  display: inline-block;
  padding-top: 150px;
  height: auto;
  width: 100%;
  position: relative;
  top: 0;
  left: 100px;
}

/* ------------------------------- ↓↓↓↓↓ MENSAGENS FLASH ↓↓↓↓↓  --------------------------------*/

.hide {
  display: block;
}

.flash {
  display: block;
  background: white;
  padding-bottom: 25px;
  max-width: 100%;
  margin: 50px;
  border-radius: 10px;
  text-align: center;
}

.datas {
  font-size: 38px;
  color: rgba(172, 90, 0, 0.7);
  font-weight: 300;
  vertical-align: middle;
  padding-bottom: 12px;
}

.datas-erro {
  font-size: 38px;
  color: rgba(255, 105, 97, 1);
  font-weight: 300;
  vertical-align: middle;
  padding-bottom: 12px;
}

.cidades {
  font-size: 36px;
  color: rgba(220, 119, 13, 0.7);
  font-weight: 300;
  vertical-align: middle;
  padding-bottom: 12px;
}

.cidades-erro {
  font-size: 30px;
  color: rgba(255, 105, 97, 1);
  font-weight: 300;
  vertical-align: middle;
  padding-bottom: 12px;
}

.cidades-erro-total {
  font-size: 36px;
  color: rgba(255, 105, 97, 1);
  font-weight: 300;
  vertical-align: middle;
  padding-bottom: 12px;
  text-shadow: 1px 0px;
}

.vacinometro {
  font-size: 38px;
  color: rgba(172, 90, 0, 0.7);
  font-weight: 300;
  vertical-align: middle;
  padding-bottom: 12px;
}

.vacinometro span {
  font-family: 'Neue Helvetica Medium Italic';
  font-size: 34px;
  font-weight: 100;
  vertical-align: text-top;
}

/* ------------------------------- ↓↓↓↓↓ Tabs ↓↓↓↓↓ --------------------------------*/ 

.hide{
  visibility: hidden;
  font-size: 20px;
}

/* Style the tab */
.tab {
overflow: hidden;
border: none;
color-background: white;
background-color: transparent;
text-align: center;
}

.tab-separator {
  font-family: 'KelsonSansBG-Normal';
  font-size: 45px;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  color: rgba(0,0,0,0.2);
}

/* Style the buttons inside the tab */
.tab button {
  font-family: 'KelsonSansBG-Normal';
  font-size: 45px;
  height: 150%;
  width: auto;
  opacity: 0.8;
  background-color: inherit;
  border-radius: 25px;
  border-color: transparent;
  border-bottom: 1px solid transparent;
  border-width: 5px;
  cursor: pointer;
  padding: 10px;
  padding-right: 35px;
  padding-left: 35px;
  transition: 0.1s;
}

/* Change background color of buttons on hover */
.tab button:hover {
border: 1px solid transparent;
border-bottom-color: #f8ac5b;
border-radius: 1px;
border-width: 5px;
transition: 0;
delay: 0;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #F8AC5B;
  border-bottom-color: transparent;
  border-radius: 25px;
  padding: 14px;
  padding-right: 35px;
  padding-left: 35px;
  border-width: 0px;
}

.tab .button:focus {
  border-width: 0px;
  border-bottom-color: transparent;
  border-radius: 25px;
  padding: 14px;
  padding-right: 45px;
  padding-left: 45px;
  animation: bgOpacityTransition 2s forwards;
  transition: 0.1s forwards;
}

/* Style the close button */
.topright {
float: right;
cursor: pointer;
font-size: 28px;
}

.topright:hover {color: #ac5a00;}


/* ------------------------------- ↓↓↓↓↓ BLOCOS TAB ↓↓↓↓↓  --------------------------------*/  
.BlocoH{
  width: auto;
  height: 200px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  margin: auto;

}

.blocoInfo1{
  background-color: #F8AC5B;
  width: 400px;
  height: 200px;

  border-radius: 10px;
  top: 10px;
  left: 10px;
  margin-left: 100px;
  margin-right: 15px;

  box-shadow: inset 0px 0px 3px #000000;
  
}

.blocoInfo2{
  background-color: #F8AC5B;
  width: 400px;
  height: 200px;

  border-radius: 10px;
  top: 10px;
  left: 10px;
  margin-right: 15px;

  box-shadow: inset 0px 0px 3px #000000;
}

.blocoInfo3{
  background-color: #F8AC5B;
  width: 400px;
  height: 200px;

  border-radius: 10px;
  top: 10px;
  left: 10px;
  margin-right: 15px;

  box-shadow: inset 0px 0px 3px #000000;
}

.blocoInfo4{
  background-color: #F8AC5B;
  width: 400px;
  height: 200px;

  border-radius: 10px;
  top: 10px;
  left: 10px;
  margin-right: 100px;

  box-shadow: inset 0px 0px 3px #000000;
}
